body {
  font-family: Optima, 'Lucida Sans', Calibri, Candara, Arial, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', 'Microsoft YaHei', sans-serif;
}
blockquote {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, 'STKaiti', 'KaiTi', '楷体', 'SimKai', 'DFKai-SB', 'NSimSun', serif;
}
code {
  font-family: "Lucida Console", 'Andale Mono', 'STKaiti', 'KaiTi', 'SimKai', monospace;
}
pre code {
  font-family: "Lucida Console", Monaco, 'STKaiti', 'KaiTi', 'SimKai', monospace;
  font-size: .85em;
}

body {
  margin: 0;
  line-height: 1.5em;
  background: #fafafa;
}
ol > li{
    padding-top: 6px;
    background-size: 25px;
    background-position-y: 3px;
    background-position-x: 3px;
}
h2#ingredients {
    margin-top: 0;
}
div.cookingSummary{
  position: relative;
    float: left;
    width: 100%;
    margin-bottom: 30px;
    height: 55px;
    padding-top: 20px;
    border: 1px solid #ccc;
}
ul.cookingSummary{
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center;
}
ul.cookingSummary > li{
  width: 25%;
  float: left;
}
.article-meta {
    background-size: cover;
    background-position-y: -135px;
    background-repeat: no-repeat;
}
.header div, .container, .copyright, .menu {
  max-width: 1100px;
  margin: auto;
  padding: 0 15px;
}
.page .header div, .page .container, .page .copyright, .page .menu { max-width: 900px; }
.container { hyphens: auto; }
@media (max-width: 930px) {
  .page .container { padding: 0; }
}
main { margin-bottom: 15px; }
a{color: #000;text-decoration: none;}
/* header and footer areas */
.header {
  border-top: 5px solid #ffb93d;
  border-bottom: 4px double #ffb93d;
  text-align: center;
  padding: 10px 0 5px;
}
.head-meta{
  padding-top: 10px!important;
}
.head-meta, .menu {
  display: flex;
  justify-content: space-between;
}
.header, .list section, article { background: #fff; }
.banner { font-size: 4em; }
.banner .text {
  display: block;
  line-height: 1em;
}
.list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
}
.list section {
  flex: 1 0 350px;
  box-sizing: border-box;
  box-shadow: 0 0 8px #231f20;
  margin: 1em 0 0 15px;
  padding: 1em;
  overflow-x: hidden;
}
.adTagList{color:#000;}
@media (max-width: 380px) {
  .list section { flex: auto; }
}
@media (min-width: 715px) {
  .list section { max-width: calc(50% - 15px); }
  .article-list h1 {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .article-list h1:hover { white-space: inherit; }
}
@media (min-width: 1080px) {
  .list section, .adTagList { max-width: calc(33.33333% - 15px); }
}
.adTagList{width: 100%; padding-right: 15px;}
.article-list a, .banner a { color: #231f20; }
.categories a {
  font-size: .9em;
  font-weight: bolder;
  text-transform: uppercase;
  color: #666;
}
h1 a:hover { text-decoration: underline; }
.article-list h1 { margin: .2em auto .2em 0; }
article { padding: 1em; }
.article-meta {
  text-decoration: none;
  background: #ffb93d;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 97.8%;
}
.article-meta p a{
  color: #fff;
}
.menu, .article-meta, footer, .post-nav { text-align: center; }
.article-footer { text-align: left; }
.title { font-size: 1.0em!important; }
.article-list h1, .title {     line-height: 1.2em; font-size: 1.2em;}
.article-list h1 {position: relative; top: -20px;}
.article-list a, .header a, footer a, .categories a, .active a, .comments a { text-decoration: none; }
.pagination { text-align: center; }
.pagination li, .terms li { display: inline; }
.pagination a { padding: 0 .2em; }
.footer {
  background: #ffb93d;
  padding: 1em 0;
}
.footer, .footer a { color: #fff; }
.copyright, .copyright a { color: #231f20; }
.menu {
  margin-bottom: .5em;
  flex-wrap: wrap;
}
.menu li {
  display: inline-block;
  font-weight: bolder;
}
.menu a { padding: .5em; }
.menu a:hover {
  color: #231f20;
  background: #fff;
}

hr {
  border-style: dashed;
  color: #ddd;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code {
  background: none;
  padding: .5em;
  display: block;
}

/* misc elements */
img, iframe, video { max-width: 100%; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #231f20;
  padding: 3px 1em 3px;
}

table {
  margin: 1em auto auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
tr:nth-child(even) { background: #eee }

.thumbnail {
  height: 5.1em;
  width: 6.8em;
  float: left;
  overflow: hidden;
  margin: 5px 8px 5px 0;
  box-shadow: 0 0 8px #666;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#TableOfContents, #TOC, .comments {
  border: 1px solid #eee;
  border-radius: 5px;
}
.comments a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
}
.terms { padding-left: 0; }
.post-nav {
  margin: .5em 0;
  display: flex;
  justify-content: space-between;
}
.footnotes { font-size: .9em; }
.footnotes hr {
  width: 50%;
  margin-left: 0;
}


/*Temp style*/

.infoBlock {
    width: 33%;
    text-align: center;
    height: 20px;
    padding-top: 15px;
    float: left;
    background-color: #fff;
    color: #000;
  }

body > div > main > div:nth-child(2) {
    padding-left: 13px;
}

.article-list a, .list{
  color: #fff!important;
}

main.list a {
    width: 100%;
    color: #fff;
    font-weight: 300;
}

.list section{
  padding: 0px;
  min-height: 250px;
  text-align: center;
}

.article-list{
  padding-top: 160px;
}

h2 {
  text-align: left;

}

@media (max-width: 350px) { 
    ul.cookingSummary > li{
      width: 25%;
      float: left;
      font-size: 12px;
    }
    .article-list h1, .title {
      line-height: 1.2em;
      font-size: 1.2em;
  }

  .infoBlock {
    font-size: 15px;
}
  ul{
        padding-left: 30px;
  }

  .article-meta {
    width: 97.3%;
  }
}

@media (min-width: 415px){

.article-meta {
    width: 99%;
  }

  .title {
    font-size: 1.5em!important;
}

.article-meta.single{
    background-size: cover!important;
    background-position-y: -135px;
    background-repeat: no-repeat;
}

}

.adTagContainer {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.star40, .star45, .star50
{ display: inline-block; background: url('/images/starsSprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.star40 { background-position: -3px -0px; width: 65px; height: 12px; }
.star45 { background-position: -3px -15px; width: 65px; height: 12px; }
.star50 { background-position: -3px -30px; width: 65px; height: 12px; }

