{{ partial "header.html" . }}

<div class="container test">
<main class="list">
{{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
{{ range $paginator.Pages }}
<a href="{{ .URL }}">
{{ with .Params.thumbnail }}
<section>
  <div class="article-list" style="background-image: url('{{ relURL . }}'); background-size: cover;">
  {{ end }}
  <h1><a href="{{ .URL }}">{{ .Title }}</a></h1>
<div class="infoBlock">{{.Params.time}}</div>
<div class="infoBlock">{{.Params.ingredients}}</div>
<div class="infoBlock"><img src='{{.Params.stars}}'/></div>
</div>
</section>
{{ end }}</a>
</main>
<nav>{{ template "_internal/pagination.html" . }}</nav>
</div>

{{ partial "footer.html" . }}
