{{ partial "header.html" . }}

<div class="container test">
	<div class="adTag"><div class="adTagContainer">Header Adspace</div></div>
<main class="list">
{{ $paginator := .Paginate (where .Data.Pages "Section" "!=" "") }}
{{ range $paginator.Pages }}

{{ with .Params.advert }}	<div class="adTagList"><div class="adTagContainer">BodyAdspace</div></div>{{ end }}

<section>
		<a href="{{ .URL }}">
  <div class="article-list" style="background:linear-gradient(to bottom, rgba(240,47,23,0) 0%, rgba(255,255,255,0) 0%, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 29%, rgba(0,0,0,0.71) 99%, rgba(0,0,0,0.72) 100%), url('{{ .Params.thumbnail }}'); background-size: cover;">
  


  <h1>{{ .Title }}</h1>
<div class="infoBlock">{{.Params.time}}</div>
<div class="infoBlock">{{.Params.ingredients}}</div>
<div class="infoBlock"><img src='{{.Params.stars}}'/></div>

</div>
</a>
</section>

{{ end }}
</main>
<nav>{{ template "_internal/pagination.html" . }}</nav>
</div>
<div class="adTag"><div class="adTagContainer">Footer Adspace</div></div>
{{ partial "footer.html" . }}
